---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/sections/HeroSection.astro";
import ResourcesSection from "@/sections/ResourcesSection.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
---

<Layout title="AddiTools :)">
  <Header />
  <main class="text-primary">
    <HeroSection />
    <ResourcesSection />
  </main>
  <Footer />
</Layout>
