<footer
  class="text-primary w-full h-16 flex justify-center items-center border-t border-neutral-400 dark:border-neutral-600 mt-8 text-sm"
>
  <p>
    built by <a href="https://github.com/addiveloper" class="underline"
      >@addiveloper</a
    >
  </p>
</footer>
